@use 'custom';

$primary: #c1b49c;
$background: #22272e;
$text: #adbac7;

body {
    color: $primary;
    background: $background;
}

p {
    display: inline;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 5px;
    margin-inline-end: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

td,
th{
    text-align: left;
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

.button{
    border: 0px;
    padding: 0px 0px;
    margin: 0px;
    width: 0px;
}

.flexbox{
    display: flex;
    justify-content: space-evenly;
}
.flexbox button{
    flex: 1 1 0;
    justify-content: space-around;
}

.flexbox div{
    flex: 1 1 0;
    justify-content: space-around;
    text-align: center;
}

.title-1 {
    font-size: 300%;
    color: $primary;
}

.title-2 {
    font-size: 100%;
    color: $primary;
    margin-top: 20px;
}

.container-1{
    border: 1px #ccc solid;
    padding: 3px;
}

.container-2{
    display: flex;
    border: 1px #ccc solid;
    padding: 3px;
}

.button_description{
    justify-content: center;
    align-items: center;
}

.arrow{
    justify-content: end;
    align-items: flex-end;
}

.accordion div{
    color: $text;
    background-color: #2d333b;
}

.table {
    color: default;
    margin-top: 40px;
}

#accordionFlushExample div button{
    color: $text;
    background-color: #2d333b;
}
